@model StudentsRegister.Models.Login.LoginModel

@using (Html.BeginForm("Index", "Login"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Enter password" })
    </div>
}