.body-background {
    background-image: url('../Images/main/background-image.jpg');
    background-repeat: repeat-y;
}

.main-wrapper {
    background-color: #f5f5f5;
}

.row-padding {
    padding: 0 15px 0 15px;
}

.header {
    font-weight: bold;
    font-size: 24px;
}

.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    color: #b94a48;
    border-color: #b94a48;
}

.input-validation-error:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}

.validation-summary-errors {
    /*font-weight: bold;*/
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.login-form-custom {
    padding: 50px;
}

.navbar-default .navbar-nav > li > a.custom-button-anchor {
    color: #fff;

    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }
}
